.projects__container{
    overflow: initial;
}

.projects__content{
    padding: 0 1.5rem 2.5rem;
}

.projects__img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.projects__title{
    font-size: $h3-font-size;
    margin-bottom: $mb-0-5;
}

.projects__description{
    margin-bottom: $mb-0-75;
}

.projects__button:hover .button__icon{
    transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: "";
}

.swiper-projects-icon{
    font-size: 2rem;
    color: $first-color;
}

.swiper-button-prev{
    left: -.5rem;
}

.swiper-button-next{
    right: -.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets{
    // bottom: -.5rem;
}

.swiper-pagination-bullet-active{
    background-color: $first-color;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
    outline: none;
}

@media screen and (min-width: 568px){
    .projects__content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .projects__img{
        width: 320px;
    }
    .projects__content{
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .projects__content{
        column-gap: 5rem;
    }
    .swiper-projects-icon{
        font-size: 3.5rem;
    }
    .swiper-button-prev{
        left: -.5rem;
    }
    .swiper-button-next{
        right: -.5rem;
    }
}